/*Efectos para el guide en el header*/
.guide {
    color: var(--colorTextActiveHeader)!important;
    background-color: var(--colorBoxActiveHeader); 
    box-shadow: 0 0 0 !important;
}

.guide:hover {
    background-color: var(--colorBoxActiveHeaderHover); 
}

.guide img { 
    filter: var(--colorIconsActiveHeader); 
}