/*Efectos para el guide en el header*/
.guide span { 
    color: var(--colorIndicatorBase); 
}

.guide {
    box-shadow: inset 0 -1px var(--colorIndicatorBase); 
    background-color: var(--colorIndicatorActive);
}

.guide img { 
    filter: invert(49%) sepia(57%) saturate(6463%) hue-rotate(202deg) brightness(92%) contrast(98%); 
}

.guide:hover { 
    background-color: var(--colorIndicatorActiveHover) !important; 
}