/*Estilos globales para:*/
header, .menuIcon, .nav, a, .botonList, .navImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Header*/
header {
    width: 100%;
    height: 50px;
    z-index: 10000;
    box-shadow: 0 5px 15px var(--colorBoxShadowHeader);
    position: fixed;
}

/*Nav*/
.nav a {
    height: 40px;
    padding: 0 18px;
    margin: 0 3px;
    color: var(--colorTextHeader);   
    transition: 0.08s;
    border-radius: 12px;
    justify-content: start;
}

.nav a:hover {
    color: var(--colorTextNormal);
    box-shadow: inset 0 0 0 1px var(--colorBorderBoxsesHeader);
}

.nav span {
    font-family: "SF semiBold";
    font-size: 15px;
}

/*botons nav*/
.cercos {
    border-radius: 12px 0 0 12px !important;
    padding: 0 9px 0 18px !important;
    margin: 0 2px 0 3px !important;
}

.cercos.on{
    border-radius: 12px 0 0 0 !important;
}

.botonList {
    width: 22px;
    height: 40px;   
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    margin: 0 3px 0 0;
    transition: 0.08s;
}

.botonList.on {
    border-radius: 0 12px 0 0;
    background-color: var(--colorBoxActiveHeader);
    box-shadow: inset 0 0 0 1px var(--colorBorderBoxsesHeader);
}

.botonList:hover {
    box-shadow: inset 0 0 0 1px var(--colorBorderBoxsesHeader);
}

.cercos:hover ~ .botonList {
    box-shadow: inset 0 0 0 1px var(--colorBorderBoxsesHeader);
}

.botonList img {
    width: 28px;
    filter: invert(36%) sepia(0%) saturate(731%) hue-rotate(208deg) brightness(88%) contrast(82%);
}

.botonList:hover img {
    filter: none;
}

.botonList.on img {
    content: url("/icons/arrowUp.svg");
}

/*Cercos Nav*/
.cercosNav {
    width: 275px;
    background-color: var(--colorBoxActiveHeader);
    position: absolute;
    top: 45px;
    right: 210px;
    box-shadow: 0 12px 24px -6px #60606026;
    border-radius: 12px 0 12px 12px;
    padding: 15px;
    flex-wrap: wrap;
    display: none;
}

.cercosNav.on {
    display: flex;
}

.cercosNav a {
    width: 100%;
    height: 60px;
    background-color: var(--colorHeader);
    margin: 15px 0 0 0;
    box-shadow: none !important;
    padding: 0;
    flex-wrap: wrap;
    transition: 0.08s;
}

.cercosNav a:first-child {
    margin: 0;
}

.cercosNav img {
    width: 35px;
    margin: 0 15px;
    transition: 0.15s;
}

.cercosNav a:hover img {
    transform: scale(1.25);
}

/*Icons nav*/
.iconsNav{
    width: 25px;
    cursor: pointer;
    display: none;
} 

.menuIcon {
    display: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 8px;  
    cursor: pointer;
}

.menuIcon.on {
    background-color: var(--colorBoxActiveHeader); 
    box-shadow: 0 0 0;
}

.menuIcon.on:hover {
    background-color: var(--colorBoxActiveHeaderHover); 
}

.menuIcon.on img{
    filter: var(--colorIconsActiveHeader);
}

/*Medida resposive de 1020px*/
@media (max-width: 1020px) {
    /*MenuNav*/
    .menuNav {
        display: none;
        width: 100%;
        height: calc(100vh - 50px);
        margin: 100vh 0 0;
    }

    .menuNav.on {
        display: flex;
    }

    /*Masc*/
    .masc {
        display: none;
        flex: auto;
        height: 100%;
        background-color: #0000007b;
    }

    .masc.on {
        display: flex;
    }

    /*Nav*/
    .nav {
        width: 240px;
        background-color: var(--colorHeader);
        display: block;
        box-shadow: 5px 13px 15px var(--colorBoxShadowHeader);
        box-sizing: border-box;
        padding: 0 10px 0 10px;
        overflow-y: scroll;
    }

    .cercos {
        margin: 8px 24px 0  0!important;
    }

    .nav a {
        margin: 8px 0 0;
    }

    .nav a:first-child {
        margin: 20px 0 0;
    }

    .nav span {
        margin-left: 10px;
    }

    .iconsNav, .menuIcon {
        display: flex;
    }

    /*BotonList*/
    .botonList {
        position: absolute;
        top: 68px;
        right: 7px;
    }

    /*CercosNav*/
    .cercosNav {
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        margin: 2px 0 0 0;
        border-radius: 0 0 12px 12px;
        box-shadow: none;
        padding: 13px;
    }
    
    .cercosNav a {
        margin: 13px 0 0 0;
    }

    .cercosNav a:first-child {
        margin: 0;
    }

    .cercosNav img {
        width: 30px;
        margin: 0 10px !important;
    }

    .cercosNav span {
        font-size: 12px;
        margin: 0 !important;
    }
}