/*Efectos para el home en el header*/
.home {
    color: var(--colorTextActiveHeader)!important;
    background-color: var(--colorBoxActiveHeader); 
    box-shadow: 0 0 7px 0 var(--colorBoxActiveHeader);
}

.home:hover {
    background-color: var(--colorBoxActiveHeaderHover); 
    box-shadow: 0 0 4px 0 var(--colorBoxShadowActiveHeaderHover);
}

.home img { 
    filter: var(--colorIconsActiveHeader); 
}