/*Efectos para el home en el header*/
.home {
    color: var(--colorTextActiveHeader)!important;
    background-color: var(--colorBoxActiveHeader); 
    box-shadow: 0 0 0 !important;
}

.home:hover {
    background-color: var(--colorBoxActiveHeaderHover); 
}

.home img { 
    filter: var(--colorIconsActiveHeader); 
}