/*Efectos para el home en el header*/
.home {
    color: var(--colorTextActiveHeader)!important;
    background-color: var(--colorBoxActiveHeader); 
    box-shadow: 0 0 0 !important;
}

.home:hover {
    background-color: var(--colorBoxActiveHeaderHover); 
}

.home img { 
    filter: var(--colorIconsActiveHeader); 
}

@media (max-width: 1020px) {
    .botonList.on {
        border-radius: 12px 12px 0 0;
        background-color: var(--colorBoxActiveHeader);
        box-shadow: none;
    }
    
    .botonList.on img {
        filter: var(--colorIconsActiveHeader);
    }
    
    .cercosNav.on {
        border-radius: 12px 0 12px 12px;
    }   
}