<header>
    <!--Logo del document-->
    <a class="headerLogo" href="/">
        <span></span>
    </a>
    <!--Menu del document-->
    <menu class="menuNav">
        <!--Navegacion del document-->
        <nav class="nav">
            <a href="/" class="home">
                <img class="iconsNav" src="/icons/iconHome.svg">
                <span>INICIO</span>
            </a>
            <a href="/cercos" class="cercos">
                <img class="iconsNav" src="/icons/iconCercos.svg">
                <span>CERCOS</span>
            </a>
            <span class="botonList">
                <img id="imgList" src="/icons/arrowDown.svg">
            </span>
            <!--Nav cercos-->
            <nav class="cercosNav">
                <a href="/cercos#1" class="b1">
                    <img src="/icons/iconPanel.svg">
                    <span>Panel Solar más Batería</span>
                </a>
                <a href="/cercos#2" class="b2">
                    <img src="/icons/iconCorriente.svg">
                    <span>Corriente Directa</span>
                </a>
                <a href="/cercos#3" class="b3">
                    <img src="/icons/iconBateri.svg">
                    <span>Corriente más Batería</span>
                </a>
            </nav>
            <a href="/contacts" class="contacts">
                <img class="iconsNav" src="/icons/iconContacts.svg">
                <span>CONTACTOS</span>
            </a>
            <a href="/guide" class="guide">
                <img class="iconsNav" src="/icons/iconGuide.svg">
                <span>GUÍA</span>
            </a>
        </nav>
        <!--Mascara para el nav-->
        <div class="masc"></div>
    </menu>
    <!--Icon Menu-->
    <div class="menuIcon">
        <img class="iconsNav" id="iconMenu" src="/icons/iconMenu.svg">
    </div> 
</header>

<!--Escript para el Toggle del menu-->
<script src="/javascript/headerToggles.js"></script>