<!DOCTYPE html>
<html lang="es">
    <head>
        <!--Meta tags par el mejor funcionamiento de busqueda-->
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="KqNbYEC9iDyqWHN4odqmWGwbUMBL0jMrR62nezyCRdE"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="cercos, cercos electronicos, cercas, cercas electricas, el ciencia, ciencia electronics, gallager, ganaderia, energizadores, impulsores">
        <meta name="description" content="Un vista de productos dedicados a la creacioón de cercos electrónicos">
        <meta name="author" content="Benjamín Moshé Alcántara Cabrera">
        <meta name="copyright" content="©2023 Ciencia electronics">

        <!--Estilos públicos para el document-->
        <link rel="stylesheet" href="/css/globalStyles.css">
        <link rel="stylesheet" href="/css/globalFonts.css">
        <link rel="stylesheet" href="/css/headerNav.css">

        <title><%= title %></title>
    </head>
    <body>
<!------------------------------------------------------------------------------------------------->