<div class="header">
    <!--Logo del document-->
    <a class="headerLogo" href="/">
        <span</span>
    </a>

    <!--Menu del document-->
    <div class="menuVar" id="menuVar">
        <img class="iconMenu" id="iconMenu" src="/icons/iconMenu.svg" alt="Menu">
    </div>
</div>

<!--Navegacion del document-->
<div class="nav" id="nav">
    <a href="/" class="home">
        <img class="iconsNav" src="/icons/iconHome.svg" alt="IconHome">
        <span>INICIO</span>
    </a>
    <a href="/products" class="products">
        <img class="iconsNav" src="/icons/iconProducts.svg" alt="iconProducts">
        <span>PRODUCTOS</span>
    </a>
    <a href="/contacts" class="contacts">
        <img class="iconsNav" src="/icons/iconContacts.svg" alt="iconContacts">
        <span>CONTACTOS</span>
    </a>
    <a href="/guide" class="guide">
        <img class="iconsNav" src="/icons/iconGuide.svg" alt="IconGuide">
        <span>GUÍA</span>
    </a>
</div>

<!--Escript para el Toggle del menu-->
<script src="/javascript/headerToggles.js"></script>