<header>
    <!--Logo del document-->
    <a class="headerLogo" href="/" title="Ciencia Electronics">
        <span></span>
    </a>
<!--Menu del document-->
    <menu class="menuNav">
        <!--Navegacion del document-->
        <nav class="nav">
            <a href="/" class="home">
                <img class="iconsNav" src="/icons/iconHome.svg">
                <span>INICIO</span>
            </a>
            <a href="/cercos" class="cercos">
                <img class="iconsNav" src="/icons/iconCercos.svg">
                <span>CERCOS</span>
            </a>
            <span class="botonList">
                <img src="/icons/arrowDown.svg" alt="">
            </span>
            <nav class="cercosNav">
                <a href="/cercos#1" target="_top" class="b1">
                    <div class="navImg">
                        <img src="/icons/iconPanel.svg" alt="">
                        <h1>+</h1>
                        <img src="/icons/iconBateri.svg" alt="">
                    </div>
                    <span>Panel Solar y Batería</span>
                </a>
                <a href="/cercos#2" class="b2">
                    <div class="navImg">
                        <img src="/icons/iconCorriente.svg" alt="">
                    </div>
                    <span>Corriente Directa</span>
                </a>
                <a href="/cercos#3" class="b3">
                    <div class="navImg">
                        <img src="/icons/iconCorriente.svg" alt="">
                        <h1>+</h1>
                        <img src="/icons/iconBateri.svg" alt="">
                    </div>
                    <span>Corriente Directa y Batería</span>
                </a>
            </nav>

            <a href="/contacts" class="contacts">
                <img class="iconsNav" src="/icons/iconContacts.svg">
                <span>CONTACTOS</span>
            </a>
            <a href="/guide" class="guide">
                <img class="iconsNav" src="/icons/iconGuide.svg">
                <span>GUÍA</span>
            </a>
        </nav>
        <div class="masc"></div>
    </menu>
    <div class="menuIcon">
        <img class="iconsNav" id="iconMenu" src="/icons/iconMenu.svg" alt="Menú">
    </div> 
</header>

<!--Escript para el Toggle del menu-->
<script src="/javascript/headerToggles.js"></script>